<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>326687344774-tth6uk3s9glpooc9ku12l6ejjre997jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326687344774-tth6uk3s9glpooc9ku12l6ejjre997jf</string>
	<key>API_KEY</key>
	<string>AIzaSyByk0MmgHDtXk8d_FdiW0_QEHDyr7xtMlc</string>
	<key>GCM_SENDER_ID</key>
	<string>326687344774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sina.GreenFoot</string>
	<key>PROJECT_ID</key>
	<string>greenfoot-33f49</string>
	<key>STORAGE_BUCKET</key>
	<string>greenfoot-33f49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326687344774:ios:bc599a6c64446284</string>
	<key>DATABASE_URL</key>
	<string>https://greenfoot-33f49.firebaseio.com</string>
</dict>
</plist>